.card1 {
    width: 150px;
    height: 200px;
    
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-radius: 32px;
    

}
.card1-container
{
    display: flex;
    justify-content: center;
    vertical-align: middle;

    
}
.text
{
    text-transform: uppercase;
}

.img
{
    margin-top: 30px;
    width: 200px;
    height: 240px;
    border-radius: 30px;
    border: 2px solid red;
}